*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #1ABC9C ;
  height: 500px;
}

.guy{
  margin-top: 30px;
}

.img{
  background-color: #2C3E50;;
  height: 200px;
  border-radius: 50%;
  width: 200px;
  margin: auto;
}

.title-header{
  background-color: #2C3E50;
  height: 50px;
  margin-top: 20px;
}

.star{
  background-color: #2C3E50;
  height: 30px;
  margin-top: 30px;
}

.sel-header{
  
  margin-top: 30px;
}

.sel-header [class*="col-"]{
  background-color: #c5c5c5;
  height: 20px;
  border: 1px solid rgb(187, 105, 105);
}

.title-main{
  background-color: #2C3E50;
  height: 30px;
  margin-top: 30px;
}

.cont-img{
  border-radius: 10px;
  margin-top: 30px;
  padding: 15px;
}

.first-img{
  background-color:#BA4D63 ;
}
.second-img{
  background-color:#1FA4B6 ;
}
.third-img{
  background-color:#140F0F ;
}
.fourth-img{
  background-color:#1C83C1;
}
.fifth-img{
  background-color:#1137B5 ;
}
.sixth-img{
  background-color:#CCB2A3;
  margin-bottom: 30px;
}

.debug{
  background-color:#1ABC9C ;
}

.title-2main{
  margin-top:30px;
}

.star-2main,
.title-2main,
.botton{
  background-color: #FFFFFF;
  height: 30px;
  margin-bottom:20px;
}

.paragraf{
  height: 200px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.title-contact{
  background-color: #2C3E50;
  height: 30px;
  margin:20px auto;
}

.star-contact,
.camp{
  background-color: #2C3E50;
  height: 30px;
  margin-bottom: 20px;
}

.botton-blue{
  background-color: #2C3E50;
  height: 30px;
  margin-bottom: 30px;
  margin-top: 100px;
}