*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BARRA FIXATA */
.fix-nav{
  
  background-color:#2C3E50 ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.fix-nav h1{
  font-size: 150%;
  margin: auto;
}

.nav ul li a{
  margin-left: 10%;
}

ul{
  list-style: none;
}

ul li{
  display: inline;
}

.fix-nav .bottone span{
  color: #8C949C;
  border: 1px solid #8C949C;
  padding: 5px;
  border-radius: 5px;
}
/*/ BARRA FIXATA */

/* COMANDI GENERALI */
.back-green{
  background-color:#1ABC9C ;
}

.fp-padding-80{
  padding: 80px 0;
}

.fp-padding-30{
  padding: 30px 0;
}

.fp-padding-15{
  padding: 15px 0;
}

.fp-wrapper-60{
  width: 60%;
  margin: 0 auto;
}

.text-up-whi{
  color: #FFFFFF;
  text-transform: uppercase ;
}

.text-up-bla{
  color: #333333;
  text-transform: uppercase ;
}

.text-bold{
  font-weight:bolder ;
}

.star span{
  font-size: 200%;
  margin: auto 20px;
}

.line{
  display: inline-block;
  border: 2px solid #FFFFFF;
  width: 20%;
  margin-bottom: 11px;
  border-radius: 5px;
}

.f-size-400{
  font-size: 400%;
}

ul li a:hover{
  color: #808080;
}
/* /COMANDI GENERALI */

/* HEADER */
.fp-jumbotron{
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.fp-jumbotron img{
  width: 30%;
}

.star span{
  color: #FFFFFF;
}

.fp-jumbotron>span{
  font-size: 150%;
}
/*/ HEADER */

/* MAIN */
/* PORTFOLIO */
.sec-portfolio .star .line{
  border-color: #2C3E50;
}

.sec-portfolio .star span{
 color: #2C3E50;
}

.sec-portfolio .star{
  margin-bottom: 30px;
}

.sec-portfolio img{
  border-radius: 10px;
  margin-bottom: 25px;
}
/* / PORTFOLIO */

/* ABOUT */
.sec-about .line{
  width: 15%;
}

.sec-about p{
  color: #FFFFFF;
  margin: 15px auto 35px;
}

.sec-about .button a{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 10px 10px;
  border-radius:5px ;
}
/* / ABOUT */

/* CONTACT  */
.sec-contact form{
 margin-top: 20px;
}

.sec-contact .star .line{
  border-color: #2C3E50;
  width: 15%;
}

.sec-contact .star span{
 color: #2C3E50;
}

.fp-form-control.form-group{
  border-bottom:1px solid #EDEDED;
}

.fp-form-control-no.form-control{
  border:none ;
  box-shadow: none;
}

.fp-form.form-control{
  border:none ;
  box-shadow: none;
}

.fp-form-bor.fp-form.form-control{
  border-bottom: 1px solid #EDEDED;
}

.fp-btn-green.btn.btn-default{
  background-color: #1ABC9C;
  border: none;
  color: #FFFFFF;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 15px;
}
/*/ CONTACT  */
/*/ MAIN */

/* FOOTER */
.top-footer{
 background-color:#3A546D;
}

.bottom-footer{
 background-color:#2C3E50 ;
}

footer p{
  color: #FFFFFF;
  font-size: 120%;
}

footer p span{
  color:#20AA94 ;
}
footer ul li i{
  color: #FFFFFF;
}

footer ul li a{
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.ma-foot{
  margin-right: 10px;
}

footer ul .book{
  padding: 7px 11px;
}

footer ul .gle{
  padding: 7px 7px;
}

footer ul .ter{
  padding: 7px 9px;
}

footer ul .link{
  padding: 7px 9px;
}

footer .bottom-footer span{
  color: #FFFFFF;
  font-size: 75%;
}

/* / FOOTER */